html, body, #wrapper {
  background-color: #fcfcfc;
  font-family: 'Neue Haas Unica W1G';
  color: #b3b4b3;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

html ::selection {
  background-color: #b3b4b3;
  color: #fcfcfc;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#wrapper td {
  text-align: center;
}


.top td {
    padding-bottom: 0;
    vertical-align: bottom;
}

.bot td {
    padding-top: 0;
    vertical-align: top;
}

.image {
  max-height: 75vh;
  max-width: 75vw;
  object-fit: cover;
}